* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad {
    height: 350px;
    width: 350px;
    background-color: rgb(231, 32, 155);
}

.div-son {
    height: 150px;
    width: 150px;
    background-color: rgb(236, 227, 227);
}

.badoo {
    height: 100px;
    width: 100px;
    background-color: rgb(18, 19, 19);
}